.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts > a:not(:last-child) {
  margin-right: 25px;
}

.contacts__text {
  display: none;
}

.contacts__reguest-call {
  display: none;
}

.contacts__image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &--email {
    width: 27px;
    height: 20px;
    background-image: url('/images/envelope.svg');
  }
  &--tel {
    width: 25px;
    height: 25px;
    background-image: url('/images/phone.svg');
  }
}
