.features {
  width: 290px;
  margin: 0 auto;
  padding: 35px 0;
}

.features__item {
  border: 1px solid $color-stroke;
  border-left: 2px solid $color-active;
  margin-bottom: 20px;
  padding: 25px;
  cursor: pointer;
}

.features__img {
  margin-bottom: 20px;
  pointer-events: none;
}

.features__title {
  margin-bottom: 17px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: $color-active;
}

.features__text {
  @include text-description-style;
}

.features__item:hover {
  background: $color-active;
  .features__img {
    fill: $color-text-light;
  }
  .features__title, .features__text {
    color: $color-text-light;
  }
}
