.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__container {
  width: 290px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  flex-grow: 2;
}

.header__container-menu {
  display: flex;
  justify-content: space-between;
}

@media #{$tablet-width} {
  .header__container {
    width: 770px;
  }
}

@media #{$desktop-width} {
  .header__container {
    width: 1411px;
  }

  .header__container-menu {
    width: 1070px;
  }
}
