.popup {
  display: none;
  width: calc(100% - 200px);
  min-width: 290px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $color-active;
  padding: 35px;
  z-index: 2;
}

.popup__button {
  position: absolute;
  font-family: 'Arial', sans-serif;
  top: 15px;
  right: 20.5px;
  font-size: 30px;
  color: $color-text-light;
}

@media #{$tablet-width} {
  .popup {
    width: 490px;
  }
}
