.presentation {
  background-color: $color-dark-background;
  background-image: url('../images/present-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.presentation__wrapper {
  padding: 265px 0 65px;
  margin: 0 auto;
  background-image: url('../images/circuitboard-point-min.png');
  background-repeat: no-repeat;
  background-position: calc(50% + 20px) 80px;
  background-size: 290px;
}

.presentation__container {
  width: 290px;
  margin: 0 auto;
}

.presentation__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: $color-text-light;
  letter-spacing: 7%;
}

.presentation__description {
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  line-height: 156.8%;
  color: $color-text-light;
  position: relative;
  margin: 35px 0 35px 47px;
}

.presentation__description::before {
  position: absolute;
  content: '';
  width: 33px;
  height: 2px;
  top: 10px;
  left: calc(-16px - 33px);
  background: $color-text-light;
}

.presentation__consultation {
  &-tablet {
    display: none;
  }
  @include button-style;
  font-size: 16px;
  color: $color-text-light;
  height: 55px;
  min-width: 290px;
  background-color: $color-active;
}

.presentation__scroll {
  font-family: 'PT Mono', monospace;
  font-size: 14px;
  color: $color-text-logo;
  display: none;
}

@media (min-width: 340px) and (max-width: 769px) {
  .presentation__container {
    width: 100%;
    padding: 0 30px;
  }

  .presentation__wrapper {
    background-position: calc(50% + 30%) 80px;
  }
}

@media #{$tablet-width} {
  .presentation__wrapper {
    padding: 190px 0 150px;
    background-position: calc(50% + 350px) 90px;
    background-size: 500px;
  }

  .presentation__container {
    width: 620px;
  }

  .presentation__title {
    width: 315px;
    font-size: 60px;
  }

  .presentation__description {
    width: 356px;
    font-size: 18px;
  }

  .presentation__consultation {
    &-mobile {
      display: none;
    }
    &-tablet {
      display: inline;
    }
    @include button-style;
    font-size: 16px;
  }
}

@media #{$desktop-width} {
  .presentation__wrapper {
    padding: 190px 0 200px;
    background-position: calc(50% + 450px) 100px;
    background-size: 650px;
  }

  .presentation__container {
    width: 1420px;
  }

  .presentation__title {
    width: 718px;
    font-size: 80px;
  }

  .presentation__description {
    width: calc(718px - 82px);
    font-size: 22px;
    margin-left: 82px;
    &::before {
      width: 66px;
      left: calc(-16px - 66px);
    }
  }

  .presentation__consultation {
    width: 407px;
    margin-left: 82px;
  }

  .presentation__scroll {
    display: inline-block;
    transform: rotate(-90deg) translate(-130px, 10px);
    transform-origin: 0 100%;
  }
}
