$desktop-width: (min-width: 1420px);
$tablet-width: (min-width: 770px);

$color-active: #00B2FF;
$color-stroke: #EBEBEB;
$color-text-dark: #666666;
$color-text-light: #ffffff;

$color-dark-background: #1B2D37;
$color-light-background: #ffffff;
$color-overlay: rgba(0, 0, 0, 0.5);
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'PT Mono', monospace;
$test: red;
