$tablet-width: (min-width: 770px);
$desktop-width: (min-width: 1420px);
//
$color-active: #00B2FF;
$color-stroke: #EBEBEB;
$color-text-dark: #666666;
$color-text-light: #ffffff;
$color-text-logo: #788891;

$color-dark-background: #1B2D37;
$color-light-background: #ffffff;
$color-overlay: rgba(0, 0, 0, 0.5);
